<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe </title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header><h1>Welcome to the Cafe!</h1></header>

    <div class="container">
        <p>Select an option: </p>

        <a class="btn" href="/displays/menu">View Menu</a>
        <a class="btn" href="/changes/newReservation">Make a Reservation</a>
        <a class="btn" href="/displays/viewReservations">View All Reservations</a>
        <a class="btn" href="/changes/cancelReservation">Cancel a Reservation</a>
    </div>
    
</body>
</html>