<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Added Reservation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header><h1>Reservation Added</h1></header>

    <p><strong>Name: </strong><%- name %></p><br>
    <p><strong>Date: </strong><%- date %></p><br>
    <p><strong>Guests: </strong><%- guests %></p><br>
    <p><strong>Contact Info: </strong><%- email %></p><br>

    <a class="btn" href="/">Return to Home</a>
</body>
</html>